<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <form method="post" action="/register">
        <h1>Register</h1>
        <input type="text" name="name" placeholder="Type full name" />
        <input type="email" name="email" placeholder="Type email address" />
        <input type="password" name="password" placeholder="Create Strong Password" />
        <button type="submit">Signup</button>
      </form>
    </main>
  </body>
</html>
